body {
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherfm {
    margin: 20px;
}

.cityinput {
    padding: 12px;
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}