body {
    font-family: 'Times New Roman', Times, serif;
    background-color: bisque;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherfm {
    margin: 20px;
}

.cityinput {
    padding: 12px;
    font-size: 3rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 3rem;
    background-color: hsl(180, 100%, 30%);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: hsl(180, 100%, 40%);
}

.card {
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 75%));
    padding: 50px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0% ,50%);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}